/* Home Page Styling  */

h1.welcome_message {
  height: 25 vh;
  width: 25 vw;
  text-align: center;
  font-weight: bold;
}

#gampage {
  height: 10 vh;
  width: 20 vh;
  align-items: center;
  text-decoration: none;
}
/* Game Page Styling  */

h1.welcome-gamepage {
  height: 10 vh;
  width: 10 vh;
  text-align: center;
  font-weight: bold;
}

.grid-container {
  display: grid;
  border: solid black 1px;
  height: 90%;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  background-color: #eecbff;
}
.space {
  display: inline-block;
  border: 1px solid black;
  font-size: 40px;
}
div.turn {
  text-align: left;
  color: black;
  font-size: 40px;
}

body {
  height: 70vh;
  width: 70vw;
  background-color: #dbdcff;
  margin: auto;
  font-family: 'Poiret One', cursive;
}
h4.game-result {
  text-align: center;
  color: black;
  font-size: 40px;
}
.space:hover {
  background-color: #ffd4e5;
}
div.momo {
  display: inline-block;
  margin: 0 50 0 0px;
}

div.appa {
  display: inline-block;
  margin: 0 0 0 80px;
}
button.reset-game {
  width: 100%;
  background-color: #dbdcff;
  color: teal;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  border: none;
  margin: auto;
  text-align: center;
}
